<h2>Tema 06: Traducciones con ngx-translate</h2>

<select (change)="setLanguage($event)" [value]="selectedLang">
  <option value="es">ES</option>
  <option value="en">EN</option>
  <option value="it">IT</option>
</select>

<p>El lenguaje seleccionado es: {{selectedLang}}</p>

<p>{{hola | translate}}</p>
<p>{{hola2}}</p>
<p>{{'adios_mundo' | translate}}</p>

<p>{{'bienvenida' | translate:{nombre: "Charly", apellido: "Falco"} }}</p>


<!-- LOS PIPES NO DEPENDEN DE LA LIBRERÍA DE NGX-TRANSLATE, SOLO DE REGISTRAR LOS LOCALES (mirar en el main.ts) -->
<p>{{'precio' | translate}}: {{precio | currency:'EUR':'symbol':undefined:selectedLang}}</p>
<p>{{'fecha' | translate}}: {{fecha | date:'dd MMMM yyyy':undefined:selectedLang}}</p>

<p>{{'no_existe' | translate}}</p>